<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
        <h2>Modifier le cours : {{ cours.titre }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{% url 'course_list' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</body>
</html>