<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="mt-4 text-center" style="color:#5fcf80">Liste des utilisateurs</h2>
    <table class="table mt-3">
        <thead><tr><th>Nom</th><th>Email</th><th>Formateur ?</th></tr></thead>
        <tbody>
            {% for u in utilisateurs %}
            <tr><td>{{ u.get_full_name }}</td><td>{{ u.email }}</td><td>{{ u.is_formateur }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>