<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset_confirm.html</title>
</head>
<body>
    <div class="container mt-5" style="max-width: 500px;">
        <h2>Définir un nouveau mot de passe</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <button type="submit" class="btn btn-success mt-3">Réinitialiser</button>
        </form>
    </div>
</body>
</html>